<div>
  <div class="page-header">
    <h1>Datepicker</h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div>
        <h2>Description</h2>
        <h5>Directive: <code>w-datepicker</code></h5>
        <p>
          Datepicker widget, allows to select date.
        </p>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class="col-md-6">
      <h4>Example</h4>
      <pre highlight='xml'>
&lt;form role="form"&gt;
  &lt;div class="form-group"&gt;
    &lt;label&gt;Birth date&lt;/label&gt;
    &lt;div w-datepicker="true"
         ng-model="birthDate"&gt;
    &lt;/div&gt;
    Birth date is: {{ birthDate }}
  &lt;/div&gt;
&lt;/form&gt;</pre>
    </div>
    <div class="col-md-6 demonstration">
      <h2>Demo</h2>
      <div>
        <form role="form">
          <div class="form-group">
            <label>Birth date</label>
            <div w-datepicker="true"
                 ng-model="birthDate">
            </div>
            Birth date is: {{ birthDate }}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
